#head {
    background-color:#4aaaa5;
    padding: 23px;
    position: fixed;
    top: 0;
    margin-left: 120px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:#dddddd;
    z-index: 2;
}

.container {
    background-color:#dddddd;
    padding: 30px;
    text-align: right;
    width: 100%;
    z-index: 1;
    padding-right: 123px;
}

.topnav {
    padding-right: 150px;
}

a {
    color:#777777;
}

body {
    background: url(../images/circles-lightcopy2.png) no-repeat fixed;
    background-repeat: repeat;
}

.box {
    background-color: #ffffff;
    margin: 50px 100px;
    padding: 50px;
    border: 2px solid rgb(185, 185, 185);
}

.img-responsive {
    height: 260px;
    width: 335px;
}

.box2 {
    background-color: #ffffff;
    margin: 50px 100px;
    padding: 50px;
    border: 2px solid rgb(185, 185, 185);
    height: 800px;
}

.box3 {
    background-color: #ffffff;
    margin: 50px 100px;
    padding: 50px;
    border: 2px solid rgb(185, 185, 185);
}

#form {
    color:#777777;
}

textarea {
    width: 850px;
    height: 300px;
}

input[type=text] {
    width: 850px;
}

input[type=submit] {
    background-color: #4aaaa5;
    color:#dddddd;
    padding: 7px;
    width: 10%;
}

h2 {
    color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-bottom: 10px;
}

p {
    line-height: 1.4;
    text-align: justify;
}

img {
    height: 300px;
    width: 400px;
    margin-right: 18px;
    float: left;
}

#img1 {
    width: 350px;
    height: 220px;
    margin-right: 10%;
    margin-bottom: 5%;
    float: left;
}

.caption1 {
    position: relative;
}

.caption1 span {
    position: absolute;
    left: 0px;
    color:#dddddd;
    background-color:#4aaaa5;
    margin: auto;
    margin-top: 150px;
    padding: 20px 144px;
}

#img2 {
    width: 350px;
    height: 220px;
    margin-bottom: 5%;
}

.caption2 {
    position: relative;
}

.caption2 span {
    position: absolute;
    right: 158px;
    color:#dddddd;
    background-color:#4aaaa5;
    margin: auto;
    margin-top: 150px;
    margin-left: 500px;
    padding: 20px 144px;
}

#img3 {
    width: 350px;
    height: 220px;
    margin-right: 10%;
    margin-block-end: 5%;
}

.caption3 {
    position: relative;
}

.caption3 span {
    position: absolute;
    right: 605px;
    color:#dddddd;
    background-color:#4aaaa5;
    margin: auto;
    margin-top: 415px;
    padding: 20px 130px;
}

#img4 {
    width: 350px;
    height: 220px;
    margin-bottom: 5%;
}

.caption4 {
    position: relative;
}

.caption4 span {
    position: absolute;
    right: 158px;
    color:#dddddd;
    background-color:#4aaaa5;
    margin: auto;
    margin-top: 415px;
    padding: 20px 140px;
}

#img5 {
    width: 350px;
    height: 220px;
}

.caption5 {
    position: relative;
}

.caption5 span {
    position: absolute;
    right: 605px;
    color:#dddddd;
    background-color:#4aaaa5;
    margin: auto;
    margin-top: 700px;
    padding: 20px 140px;
}

.paragraph {
    color:#777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

footer {
    background-color:#666666;
    text-align: center;
    color:#dddddd;
    padding: 20px;
    width: 100%;
    border-top: 5px solid #4aaaa5;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

@media screen and (max-width: 600px) {

}